.counter {
  border: 2px solid black;
  background-color: salmon;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
}


.button {
  border-color: black;
  color: salmon;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.input {
  width: 250px;
}